@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  min-height: 100vh;
}

.greeting {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greeting img {
  background: white;
  border-radius: 10px;
  border: 5px solid #bbe9ff;
}
.greeting .hbd {
  margin-top: -10px;
  font-family: "Birthstone Bounce", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  cursor: pointer;
}
.greeting h2 {
  margin-top: -20px;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-align: center;
}
.cake {
  animation: kenyal 2s ease infinite;
}
@keyframes kenyal {
  0% {
    transform: scale(1) translateY(5px);
  }
  50% {
    transform: scale(1.2) translateY(5px);
  }
  100% {
    transform: scale(1) translateY(5px);
  }
}
.articles {
  margin-top: -1.5em;
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: 8px 10px 21px 2px rgba(66, 68, 90, 1);
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

/* basic article elements styling */
article h2 {
  text-align: center;
  margin: 0 0 18px 0;
  font-family: "Noto Sans Mono", monospace;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
  text-align: center;
}

article p {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

article:focus {
  outline: 1px dotted #28666e;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  /* .article-body p {
    display: none;
  } */
  .greeting .hbd {
    font-size: 2.5em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .greeting .hbd {
    font-size: 2em;
  }
  .greeting h2 {
    font-size: 1.2em;
    word-wrap: break-word;
  }
  .articles {
    margin-top: -2.5em;
  }
}
@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
